* {
  --color-1: #B4C5E4;
  --color-2: #3F7929;
  --color-3: #94C595;
  --color-4: #177E89;
  --color-5: #BC5D2E;
  --color-6: #39375B;
  }

.Header {
  background-color: #177E89;
  color: rgb(255, 255, 255);
  border: --color-2 solid 2px;
  font-size: 200%;
  font-family: monospace;
}